* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2F2F2;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    /*flex-flow: column wrap;*/
    /*height: 150px;*/
}

.new_typeahead_div {
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row-reverse;*/
    /*justify-content: space-between;*/
    /*width: 100%;*/
    font-size: 1em;
}
 .md-label{line-height: 1em;
 font-size: 1em;}

.freetext_div .freetext:focus {
    outline: none;
}

.md-no-sticky {
    font-size: 1em;
}

input:disabled {
    opacity: 0.5;
}
.md-dialog-content{direction: rtl;}



md-input-container input {
    font-size:0.9em;
}


md-input-container {
    height: 1px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    font-weight: bolder;
}

.freetext {
    align-self: flex-end;
}

.tile_btn {
    width: fit-content;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    border-radius: 5px;
    list-style: none;
}

.delete_all {
    position: fixed;
    top: 5px;
    right: 5px;
    border: none;
    outline: none;
}

.trash {
    position: fixed;
    top: 5px;
    left: 5px;
}

.search_div {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: fit-content;
    border: 4px solid purple;
    border-radius: 5px;
    background: #b3dced;
    background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
    background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
    margin: 20px auto;
    direction: rtl;
}

.outcome {
    flex-flow: row wrap;
    height: 40vh;
    text-align: center;
    margin: 40px auto;
    height: fit-content;
    overflow-y: scroll;
}

.radios {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 5px;
}

.add {
    /*margin: 0 auto;*/
    flex: 1;
    /*display: block;*/
    /*width: 100%;*/
    /*background: red;*/
}
.sorted_list{direction: rtl;}


.outcome1 .md-button{margin: 0 auto;}

.outcome1 {
    background: #c8e4fa;
    margin: 5px auto;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    width: 70%;
    cursor: move;
    height: 20%;
    border: 4px solid purple;
}
.text-center {
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
    color: red;
    /*background: red;*/
    opacity: 0.5;
}

.center {
    margin: 20px auto;
    display: block;
}

.bold {
    font-weight: bolder
}

.delete_all:hover {
    color: red;
}

#amount {
    border-radius: 0 10px 0 0;
    height: 5vh;
}

.dropdown-menu {
    width: 100%;
    position: absolute;
    z-index: 9999999;
    margin: 5px auto;
    display: block;
    text-align: center;
    font-size: 3vh
}

.export_list_btn {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 10%;
}

.btns_lowest {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    /*align-content: center;*/
    width: 40%;
}
.btns_lowest button{margin: 10px auto;}
.btns_search{display: flex;
width: 100%;}


.btns_lowest .md-fab {
    margin: 10px auto;
    font-size: 4vh;
    color: azure;
}

.dropdown-menu a {
    text-decoration: none;
}

.dropdown-menu li {
    list-style: none;
}

.active {
    background: #A4A4A4;
    border: 2px outset white;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    list-style: none;
    box-shadow: 1px 1px #2E2E2E;
    color: white;
}
.del_btn{margin: 0 auto;}
span {
    flex: 1;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    font-size: 1em;
    /*margin: 0 50px;*/
    text-indent: 10px;
}
.outcome1 button{width: 2px;}

b, strong {
    color: red;
}
.btns_export button{margin: 25px auto;
display: block;}

.dndDragover {
    color: red;
}

.dndPlaceholder {
    background: gray;
}